body {
background-color: black;

}

.vazio {
    color: rgb(245, 236, 236);
    text-align: center;
    margin-top: 245px; /* abaixar a letra */
    opacity: 0.2; /* Opacidade da letra*/
}

.botao-voltar-inicio {
    position: fixed;
    bottom: 20px; /* Ajuste a distância inferior desejada */
    right: 20px; /* Ajuste a distância direita desejada */
    background-color: #f41c1c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botao-voltar-inicio:hover {
    background-color: #555;
  }
  


